{% extends "main.html" %}

{% block content %} 

<h1 class="display-4" style="text-align: center; color:#ffffff">For the momment you can only filter per category</h1>
{% for cat in category %}
        <div class="col-md-5 offset-md-1 mt-15"> 
              <table class="table table-7f8085">
                <thead>
                    <tr>
                      <th scope="col">
                        <a style="color:#ffffff" href="{% url 'filtered' cat.id %}">{{cat.category_name}}</a>
                    </th>
                    </tr>
                  </thead>
            </table>
        </div>
    {% endfor %}

{% endblock %}