{% extends "ENVIRONMENT_APP/userhome.html" %}
{% load crispy_forms_tags %}
{% block content %} 
<div class="container" style="text-align: center;">
    <div class="col-md-6 offset-md-3 mt-10"> 
        <div class="jumbotron" style="background-color: #9396a300;">
            <h1 class="display-4">Edit File</h1>
            <form action="" method="POST" style="text-align: center;">
                {% csrf_token %}
                <table style="color: white; margin: 20px auto;">{{file|crispy}}</table>
                <input type="submit" value="Update" style="width: 200px;">
            </form>
        </div>
    </div>
</div>



{% endblock %}
